<!DOCTYPE html>
<html>
<head>
    <title>pass the yoparcel!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'pass_the_yoparcel/cover.css' %}">
    <link rel="stylesheet" href="{% static 'pass_the_yoparcel/animated.css' %}">
</head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">pass the yoparcel!</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="../">Map</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" role="main">
        <h1 class="cover-heading">Congratulations, {{this_magic_word.recipient.name}}!</h1>
        <p class="lead">
            You are the
            {% if this_magic_word.index == 1 %}
            1st
            {% elif this_magic_word.index == 2 %}
            2nd
            {% elif this_magic_word.index == 3 %}
            3rd
            {% else %}
            {{ this_magic_word.index }}th
            {% endif %}

            {% if status == 'end' %}
            and final
            {% endif %}

            stop on the yoparcel's journey!
        </p>

        <p>{{this_magic_word.message}}</p>

        {% if status == 'not_chosen' %}

        <p>
            The next recipient:
            <span id="revealButton" class="click-me"
                  onclick="revealDestination()"><u>Click here to choose at random!</u></span>
            <strong id="revealTargetName" class="hidden">{{next_magic_word.recipient.name}}!</strong>
        </p>

        <p id="revealTargetAddress" class="hidden">
            Please write this address on the envelope and pop it in the postbox when you can:
            <br/>
            <strong>{{next_magic_word.recipient.address}}</strong>
        </p>

        {% elif status == 'chosen' %}

        <p>The next recipient: <strong>{{next_magic_word.recipient.name}}!</strong></p>

        <p>
            Please write this address on the envelope and pop it in the postbox when you can:
            <br/>
            <strong>{{next_magic_word.recipient.address}}</strong>
        </p>

        {% endif %}

    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            {% if status == 'not_chosen' or status == 'chosen' %}
            <p><a href="../">Click here</a> to see the journey so far and track the yoparcel's progress!</p>
            {% elif status == 'end' %}
            <p><a href="../">Click here</a> to see how the yoparcel got to you!</p>
            {% endif %}
        </div>
    </footer>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.1/dist/confetti.browser.min.js"></script>

{% if status == 'not_chosen' or status == 'end' %}
<script>
    function revealDestination() {
        document.querySelector('#revealButton').classList.add('hidden');
        document.querySelector('#revealTargetName').classList.remove('hidden');
        document.querySelector('#revealTargetAddress').classList.remove('hidden');
        confetti({
            particleCount: 150,
            spread: 360
        });
    }
</script>
{% endif %}

{% if status == 'chosen' or status == 'end' %}
<script>
    confetti({
        particleCount: 150,
        spread: 360
    });
</script>
{% endif %}

</body>
</html>